/* Global Settings */
body {
    font-family:  'Times New Roman', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header Section */
.header-hero-container {
    display: flex;
    flex-direction: column;
    background-color: #172937;
}

.header {
    flex: 1;
    display: flex;
}

.header-logo {
    flex: 1;
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.header-links {
    flex: 1;
    display: flex;
}

.header-logo,
.header-links {
    align-items: center;
}

.header-links ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.hero-container {
    flex: 1;
    display: flex;
    margin: 10% 0;
}

.header-logo,
.hero-left {
    margin-left: 10%;
    justify-content: flex-start;
}

.header-links,
.hero-right {
    margin-right: 10%;
    justify-content: flex-end;
}

.hero-left,
.hero-right {
    flex: 1;
    display: flex;
}

.hero-left {
    flex-wrap: wrap;
}

.header-links a,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-button button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 1000;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 150px;
}

.hero-img img {
    height: auto;
    width: 500px;
}


/* First Section */
.first-section {
    flex: 1;
}

.first-section-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
}

/* placeholder design for cards */
.first-section-card {
    border: 1px solid #eee;
    box-shadow: 2px 4px 16px rgba(0,0,0,.06);
    border-radius: 4px;
}


/* Second Section */
.second-section {
    flex: 1;
    background-color: #E5E7EB;
}

.second-section-quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.second-section-quote-cite {
    font-weight: bold;
    color: #1F2937;
}


/* Third Section */
.third-section {
    flex: 1;
    background-color: #3882F6;
}


/* Footer */
.footer {
    margin-top: auto;
    background-color: #172937;
    color: white;
}