/* Global Settings */
body {
    font-family:  'Times New Roman', sans-serif;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

ul {
    list-style-type: none;
}

a {
    text-decoration: none;
}

/* Header Section */
.header-hero-container {
    display: flex;
    flex-direction: column;
    background-color: #172937;
}

.header {
    flex: 1;
    display: flex;
}

.header-logo {
    flex: 1;
    display: flex;
    color: #F9FAF8;
    font-size: 24px;
    font-weight: 800;
}

.header-links {
    flex: 1;
    display: flex;
}

.header-logo,
.header-links {
    align-items: center;
}

.header-links ul {
    display: flex;
    gap: 16px;
    margin: 0;
    padding: 0;
}

.hero-container {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    margin: 10% 0;
}

.header-logo,
.hero-left {
    margin-left: 10%;
    justify-content: flex-start;
}

.header-links,
.hero-right {
    margin-right: 10%;
    justify-content: flex-end;
}

.hero-left,
.hero-right {
    flex: 1;
    display: flex;
}

.hero-left {
    flex-wrap: wrap;
}

.header-logo,
.header-links {
    margin-top: 24px;
}

.header-links a,
.hero-secondary-text {
    font-size: 18px;
    color: #E5E7EB;
}

.hero-main-text {
    font-size: 48px;
    font-weight: 800;
    color: #F9FAF8;
}

.hero-button button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 1000;
    border: none;
    border-radius: 12px;
    padding: 10px;
    width: 150px;
}

.hero-img img {
    height: auto;
    max-width: 500px;
}


/* First Section */
.first-section {
    flex: 1;
}

.first-section-header {
    font-size: 36px;
    font-weight: 800;
    color: #1F2937;
    text-align: center;
    margin: 48px;
}

.first-section-card-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 52px;
    margin: 48px 10% 10% 10%;
}

.first-section-card-img {
    flex-basis: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.first-section-card-img img {
    max-height: 200px;
    max-width: 200px;
    border: 5px solid #3882F6;
    border-radius: 24px;
}

.first-section-card-text {
    font-size: 20px;
    color: #383838;
}


/* Second Section */
.second-section {
    flex: 1;
    display: flex;
    flex-direction: column;
    background-color: #E5E7EB;
    padding: 10%;
}

.second-section-quote-text {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.second-section-quote-cite {
    font-size: 28px;
    font-weight: bold;
    color: #202020;
    text-align: right;
}


/* Third Section */
.third-section {
    flex: 1;
    display: flex;
    flex-wrap: wrap;
    background-color: #3882F6;
    border: none;
    border-radius: 12px;
    padding: 58px 116px;
    margin: 10%;
}

.third-section-left {
    flex: 6;
    display: flex;
    flex-flow: column wrap;
}

.third-section-right {
    flex: 1;
    display: flex;
}

.third-section-header {
    font-size: 32px;
    font-weight: bold;
    color: white;
}

.third-section-text {
    font-size: 24px;
    color: #f1f1f1;
}

.third-section-button {
    display: flex;
    justify-content: center;
    align-items: center;    
}

.third-section-button button {
    background-color: #3882F6;
    color: #E5E7EB;
    font-size: 16px;
    font-weight: 1000;
    border: solid white 2px;
    border-radius: 12px;
    padding: 10px;
    width: 150px;
}


/* Footer */
.footer {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: auto;
    padding: 36px;
    background-color: #172937;
    color: white;
}